extend ../layout

block content

  h1(class="page-header")  My Groceries

  ul(class="list-group")
    each grocery in groceries
      if grocery.inBasket
        li(class="list-group-item") #{grocery.item} (need #{grocery.quantity}) - got it
      else
        li(class="list-group-item") #{grocery.item} (need #{grocery.quantity}) - pick it up
