extend ../layout

block content

  div(class="page-header")
    a(href='/groceries/' + grocery.id + '/edit' class="btn btn-warning pull-right") Edit this item
    h1= grocery.item

  ol(class="breadcrumb")
    li
      a(href="/groceries") My Groceries
    li(class="active")= grocery.item

  if grocery.inBasket
    h3 Need #{grocery.quantity} - got it
  else
    h3 Need #{grocery.quantity} - pick it up
